<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <script src="jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#btnget").on("click", function() {
          alert("Button Clicked");
        });
      });
    </script>
  </head>
  <body>
    <h1>View to Access REST APIs</h1>
    <input type="button" value="Get Data" id="btnget" />
  </body>
</html>
